.search-bar {
	border-bottom: 1px solid #e5e7eb; 
	background-color: #f9fafb;
	text-align: center;
  }
  
  .search-container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #9ca3af; 
	padding: 0.5rem 1.25rem;
	margin: 1.25rem 0.75rem;
	border-radius: 9999px; 
	width: 50%; 
  }
  
  .search-container.sm {
	width: 50%; 
  }
  
  .search-input {
	flex: 1;
	outline: none;
	font-size: 0.875rem; 
	border: none; 

	
  }
  
  
  .close-icon {
	display: inline;
	width: 0.75rem; 
	cursor: pointer;
  }
  